.modal__input:first-of-type {
  margin-bottom: 29px;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__error {
  color: red;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  position: absolute;
  top: 150px;
}

.modal__error:last-of-type {
  position: absolute;
  top: 230px;
}

.modal__error_visible {
  opacity: 1;
}
