.header {
  max-width: 880px;
  /* padding: 30px 45px;
  width: 100%; */
  border-bottom: 1px solid rgba(84 84 84 /0.7);
  display: flex;
  min-height: 74px;
  padding-top: 45px;
}

.header__logo {
  /* max-width: 880px; */
  width: 173px;
  height: 33px;
  /* margin-bottom: 41px; */
}

@media screen and (max-width: 680px) {
  .header__logo {
    max-width: 126px;
    max-height: 24px;
    padding-bottom: 32px;
    margin-left: 27px;
  }

  .header {
    padding-top: 28px;
    min-height: 56px;
  }
}
